<div [@routerTransition]="">
  <div class="section-header">Borrowed Instruments</div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3" *ngFor="let instrument of burrowedInstruments">
        <div class="instrument-card clickable-card card my-2 " >
          <div class="content">
            <div class="d-flex">{{instrument.name}}
            <div class="flex-spacer"></div>
              <span *ngIf="instrument.isLate" [class.warn]="instrument.isLate">OVERDUE</span>
            </div>
            <small *ngIf="instrument.isLate">Please return the instrument to block X</small>
          </div>
          <img src="{{instrument.imageUrl}}">

        </div>
      </div>
    </div>
  </div>
  <div class="section-header">Available Instruments</div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3" *ngFor="let instrument of instruments">
        <div class="instrument-card clickable-card card my-2">
          <img src="{{instrument.imageUrl}}">
          <div class="content">{{instrument.name}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
