
h3{
    margin-top:16px;
    margin-left: 16px;
}

.content-wrapper{
    align-items: stretch;
}

/* Mobile First */
.flex-card-wrapper{
    flex-basis: 50%;
}


/* larger than 600px: */

@media only screen and (min-width: 599px) {
    .flex-card-wrapper{
        flex-basis: 25%;
    }

}

/* larger than 1600px: */

@media only screen and (min-width: 1599px) {
    .flex-card-wrapper{
        flex-basis: 18%;
    }

}