<mat-toolbar class="main-toolbar mat-elevation-z4" color="primary">
    <a mat-button (click)="sidenav.toggle()"><mat-icon>queue_music</mat-icon> <span>Generic Music School</span></a>
</mat-toolbar>
<mat-sidenav-container class="full-container">
  <mat-sidenav #sidenav color="accent" mode="side" opened>
    <app-navmenu></app-navmenu>
    <mat-divider [vertical]="true"></mat-divider>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
