#profile-picture-card {
  padding: 0;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-container>* {
  width: 100%;
}

.demo-chip-list {
  width: 100%;
}

@media only screen and (min-width: 599px) {
  .flex-card-wrapper {
    flex-basis: 50%;
  }

}

@media only screen and (min-width: 1599px) {
  .flex-card-wrapper {
    flex-basis: 33%;
  }
}
