.form-container {
    display: flex;
    flex-direction: column;
    font-size: 14px;
  }
  
  .form-container > * {
    width: 100%;
  }

  .profile-card{
      min-width: 300px;
  }

  #profile-picture-card{
      width: 250px;
  }

  #preferences-card{
    width:350px;
  }


  .demo-chip-list {
    width: 100%;
  }