<div [@routerTransition]="">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-xl-4 my-2">
        <div id="profile-picture-card" class="profile-card card">
          <img src="{{user.imageUrl}}">
          <mat-icon class="overlay-icon-top-right">insert_photo</mat-icon>
        </div>
      </div>
      <div class="col-md-6 col-xl-4 my-2">
        <div class="profile-card card">
          <div class="form-container">
            <mat-form-field>
              <input matInput placeholder="Name" [(ngModel)]="user.name" [disabled]="!editEnabled">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Email" [disabled]="!editEnabled">
            </mat-form-field>
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Date of Birth" [disabled]="!editEnabled">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker touchUi="true" #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Address Line 1" [disabled]="!editEnabled">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Suburb" [disabled]="!editEnabled">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="State" [disabled]="!editEnabled">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Postcode" [disabled]="!editEnabled">
            </mat-form-field>
          </div>
          <button [@editFab]="editEnabled" (click)="editEnabled = !editEnabled" mat-mini-fab>
            <mat-icon>
              <span *ngIf="!editEnabled">edit</span>
              <span *ngIf="editEnabled">done</span>
            </mat-icon>
          </button>
        </div>
      </div>
      <div class="col-md-6 col-xl-4 my-2">
        <div class="profile-card card">
          <div class="form-container">
            <mat-form-field>
              <mat-chip-list #chipList1>
                <mat-chip *ngFor="let ins of instruments" [selectable]="selectable" [removable]="removable" (removed)="removeInstrument(ins)">
                  {{ins.name}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="Instuments you want to learn..." [matChipInputFor]="chipList1" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addInstrument($event)">
              </mat-chip-list>
            </mat-form-field>
            <mat-form-field>
              <mat-chip-list #chipList2>
                <mat-chip *ngFor="let l of languages" [selectable]="selectable" [removable]="removable" (removed)="removeLanguage(l)">
                  {{l}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="Languages you speak..." [matChipInputFor]="chipList2" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addLanguage($event)">
              </mat-chip-list>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>
