<div class="container-fluid my-3">
  <div class="row">
    <div class="col-md-6 col-lg-8 my-2">
      <div class="calendar-card card" [@fadeInAnimation]="">
        <div id="full-calendar">
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3 my-2">
      <div id="payment-card" class="card" [@fadeInAnimation]="">
        <div>Payments</div>
        <span [class.green]="upToDate">You account is up to date.</span>
        <div [class.green]="upToDate" style="float:right">$0.00</div>
        <div>
          <mat-list dense>
            <mat-list-item>
              <span class="pull-left">4 May</span>
              <span class="center"> Paid</span>
              <span class="pull-right">$50.00</span>
            </mat-list-item>
            <mat-divider [inset]="true"></mat-divider>
            <mat-list-item>
              <span class="pull-left">25 April</span>
              <span class="center"> Paid</span>
              <span class="pull-right">$40.00</span>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-1 my-2 d-md-flex flex-md-column">
      </div>
  </div>
</div>
<smd-fab-speed-dial class="fab" [(open)]="open" direction="up" animationMode="fling" fixed="false">
    <smd-fab-trigger spin="true">
        <button mat-fab (click)="open = !open"><mat-icon>add</mat-icon></button>
    </smd-fab-trigger>

    <smd-fab-actions>
        <button mat-mini-fab ><mat-icon>create</mat-icon></button>
        <button mat-mini-fab ><mat-icon>people</mat-icon></button>
        <button mat-mini-fab ><mat-icon>thumb_up_alt</mat-icon></button>
    </smd-fab-actions>
</smd-fab-speed-dial>
