<div class="container-fluid my-3">
  <div class="row">
    <div class="col-md-6 col-lg-8 my-2">
      <div class="calendar-card card" [@fadeInAnimation]="">
        <div id="full-calendar">
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3 my-2">
      <div id="payment-card" class="card" [@fadeInAnimation]="">
        <div>Payments</div>
        <span [class.green]="upToDate">You account is up to date.</span>
        <div [class.green]="upToDate" style="float:right">$0.00</div>
        <div>
          <mat-list dense>
            <mat-list-item>
              <span class="pull-left">4 May</span>
              <span class="center"> Paid</span>
              <span class="pull-right">$50.00</span>
            </mat-list-item>
            <mat-divider [inset]="true"></mat-divider>
            <mat-list-item>
              <span class="pull-left">25 April</span>
              <span class="center"> Paid</span>
              <span class="pull-right">$40.00</span>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-1 my-2 d-md-flex flex-md-column">
      </div>
  </div>
</div>
<button class="fab" mat-fab><mat-icon>add</mat-icon></button>
