/* You can add global styles to this file, and also import other style files */
@import '~normalize.css/normalize.css';
@import '~bootstrap/scss/bootstrap-grid';
@import '~@angular/material/theming';
@import 'calendar.scss';

@include mat-core();

$primary: mat-palette($mat-grey, 900, 600, 800);
$accent:  mat-palette($mat-orange, 400, 500, 300);

// The warn palette is optional (defaults to red).
$warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($primary, $accent, $warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);

$font-color: rgba(0, 0, 0, 0.6);
$navbar-height: 64px;
$padding: 16px * 2;

*, ::before, ::after{
  box-sizing: border-box;
}

html{
  height:100%;
}

body {
  color: $font-color;
  background: #f2f2f2;
  height: 100%;
  cursor: default;
  // font-family: Roboto, "Helvetica Neue", sans-serif;
}

.section-header{
  font-family: $font-family-sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
  margin-top:16px;
  margin-left: 16px;
  margin-bottom: 16px;
}

.full-container{
  top: $navbar-height;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Mobile-First */

#navbar-main{
  position: fixed;
  height: $navbar-height;
  top:0px;
  left:0px;
  right: 0px;
  z-index: 2;

  @include mat-elevation(5);
}

.card {
  background-color: #fff;
  position: relative;
  width: 100%;
  padding: 16px;
  border-radius: 2px;
  overflow: hidden;
  @include mat-elevation-transition;
  @include mat-elevation(2);

}

.clickable-card{

  &:hover {
    @include mat-elevation(6);
  }

  &:active {
    @include mat-elevation(8);
  }
}

.cur-def{
  cursor: default;
}

.warn{
  color:#d50000;
}

#profile-picture-card{
  width:auto;
}

#profile-picture-card img {
  width: 100%;
  // max-height: calc(100vh - #{$navbar-height} - #{$padding});
}

#lesson-calendar {
  padding: 16px;
  height: calc(100vh - #{$navbar-height} - #{$padding});
}

.aa-stretch{
  align-items: stretch;
}

.shortcut-icon{
  font-size: 48px;
  height: auto !important;
  width: auto !important;
  cursor: default;
  transition: text-shadow 0.2s;

  &:hover{
    text-shadow: 2px 2px 0px rgba(150, 150, 150, 0.38);
  }
}

#recentBills table tbody tr{
  @include mat-elevation-transition;

  &:hover{
  background: #f2f2f2;
  }
}

/* larger than 576px */

@include media-breakpoint-up(sm) {

  .mat-toolbar > .mat-button{
    font-size: 18px;
    font-weight: 300;
  }

}

@include media-breakpoint-up(md) {
  .notification-bar {
    width: 60%;
    margin-left: -30%
  }
}

/* larger than 992px: */

@include media-breakpoint-up(lg)  {   
  .card{
    padding-left: 24px;
    padding-right: 24px;
  }
}

.overlay-icon-top-right {
  position: absolute;
  top: 8px;
  left: 8px;
}

.mat-drawer {
  background-color: inherit !important;
}

.pull-right {
  position: absolute;
  right: 0px;
}

.pull-left {
  position: absolute;
  left: 0px;
}

.flex-spacer {
  flex-grow: 1;
}

.center {
  margin: 0 auto;
}

.justify {
  text-align: justify;
}

.green {
  color: green;
}

.mat-expansion-panel-body {
  padding: 0 !important;
}

.fc-view-container {
  background-color: #fff;
}

.mat-chip {
  font-size: 1em;
}
