<mat-nav-list>
  <a class="main-nav-link" mat-list-item routerLink="/dashboard"><mat-icon>dashboard</mat-icon>Dashboard</a>
  <a class="main-nav-link" mat-list-item routerLink="/lessons"><mat-icon>assignment</mat-icon>Lessons</a>
  <a class="main-nav-link" mat-list-item routerLink="/instruments"><mat-icon>audiotrack</mat-icon>Instruments</a>
  <a class="main-nav-link" mat-list-item routerLink="/billing"><mat-icon>monetization_on</mat-icon>Billing</a>
  <a class="main-nav-link" mat-list-item routerLink="/profile"><mat-icon>account_circle</mat-icon>Profile</a>
</mat-nav-list>
