<mat-nav-list class="d-flex flex-column">
  <mat-list-item>
    <a class="main-nav-link" (click)="closeNav()" outerLinkActive="active" routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon>Dashboard</a>
  </mat-list-item>
  <mat-list-item>
    <a class="main-nav-link" (click)="closeNav()"  routerLink="/lessons">
      <mat-icon>assignment</mat-icon>Lessons</a>
      </mat-list-item>
<mat-list-item>  <a class="main-nav-link" (click)="closeNav()" outerLinkActive="active" routerLink="/instruments">
    <mat-icon>audiotrack</mat-icon>Instruments</a>
    </mat-list-item>
<mat-list-item>  <a class="main-nav-link" (click)="closeNav()" outerLinkActive="active" routerLink="/billing">
    <mat-icon>monetization_on</mat-icon>Billing</a>
    </mat-list-item>
  <mat-list-item>
    <a class="main-nav-link" (click)="closeNav()" outerLinkActive="active" routerLink="/profile">
      <mat-icon>account_circle</mat-icon>Profile</a>
  </mat-list-item>
  <div class="flex-spacer">

  </div>
  <mat-list-item>
    <a class="main-nav-link" (click)="closeNav()" href="../">
      <mat-icon>arrow_back_ios</mat-icon>Exit Portal</a>
  </mat-list-item>
  <mat-list-item>
    <a class="main-nav-link" (click)="closeNav()" outerLinkActive="active" routerLink="/info">
      <mat-icon>info</mat-icon>About</a>
  </mat-list-item>
</mat-nav-list>
