<mat-nav-list>
  <a class="main-nav-link" (click)="closeNav()" outerLinkActive="active" mat-list-item routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon>Dashboard</a>
  <mat-list-item>
    <a class="main-nav-link" (click)="closeNav()"  routerLink="/lessons">
      <mat-icon>assignment</mat-icon>Lessons</a>
      </mat-list-item>
  <a class="main-nav-link" (click)="closeNav()" outerLinkActive="active" mat-list-item routerLink="/instruments">
    <mat-icon>audiotrack</mat-icon>Instruments</a>
  <a class="main-nav-link" (click)="closeNav()" outerLinkActive="active" mat-list-item routerLink="/billing">
    <mat-icon>monetization_on</mat-icon>Billing</a>
  <a class="main-nav-link" (click)="closeNav()" outerLinkActive="active" mat-list-item routerLink="/profile">
    <mat-icon>account_circle</mat-icon>Profile</a>
</mat-nav-list>
